<div class="p-dialog-header">
  <span class="p-dialog-title">{{ title }}</span>
  <div class="p-dialog-header-icons">
    <button type="button" class="p-dialog-header-icon p-dialog-header-maximize p-link" (click)="cancel()">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="mt-2 p-dialog-body grid p-fluid">
  <div class="col-12">
    <h3 class="title-Or">THÔNG TIN CƠ BẢN</h3>
  </div>
  <div class="col-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input type="tex" class="p-inputtext-sm" pInputText formControlName="studentCode" />
        <label for="inputtext">Mã học viên <span class="requirds">*</span></label>
      </span>
      <f-errors [errors]="form.get('studentCode')"></f-errors>
    </div>
  </div>

  <div class="col-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input p-dialog-body type="text" formControlName="studentName" class="p-inputtext-sm" pInputText />
        <label for="inputtext">Tên học viên <span class="requirds">*</span></label>
      </span>
      <f-errors [errors]="form.get('studentName')"></f-errors>

    </div>
  </div>
  <div class="col-3" [formGroup]="form">
    <span class="p-float-label">
      <p-calendar class="p-inputtext-sm" [showIcon]="true" appendTo="body" [readonlyInput]="true" dateFormat="dd/mm/yy"
        formControlName="dateOfBirth">
      </p-calendar>
      <label for="icon">Ngày sinh <span class="requirds">*</span></label>

    </span>
    <f-errors [errors]="form.get('dateOfBirth')"></f-errors>
  </div>

  <div class="col-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input class="p-inputtext-sm" pInputText formControlName="email">

        <label for="inputtext">Email <span class="requirds">*</span></label>
      </span>
      <f-errors [errors]="form.get('email')"></f-errors>

    </div>
  </div>
  <div class="col-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input p-dialog-body type="text" formControlName="address" class="p-inputtext-sm" pInputText />
        <label for="inputtext">Địa chỉ <span class="requirds">*</span></label>
      </span>
      <f-errors [errors]="form.get('address')"></f-errors>
    </div>
  </div>
  <div class="col-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input class="p-inputtext-sm" pInputText formControlName="phone">
        <label for="inputtext">Điện thoại <span class="requirds">*</span></label>
      </span>
      <f-errors [errors]="form.get('phone')"></f-errors>
    </div>
  </div>
  <div class="col-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <p-dropdown class="p-inputtext-sm" [options]="state!.listCourse" formControlName="courseId"
          optionLabel="courseName" optionValue="courseId" [autoDisplayFirst]="false">
        </p-dropdown>
        <label for="inputtext">Chọn khóa học <span class="requirds">*</span> </label>
      </span>
      <f-errors [errors]="form.get('courseId')"></f-errors>

    </div>
  </div>
  <div class="col-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <p-dropdown class="p-inputtext-sm" [options]="state!.listClass" formControlName="classId"
          optionLabel="className" optionValue="classId" [autoDisplayFirst]="false">
        </p-dropdown>
        <label for="inputtext">Chọn lớp học <span class="requirds"></span> </label>
      </span>
    </div>
  </div>
  <div class="col-3">
    <div class="p-field">
      <span class="p-float-label">
        <div class="p-field" [formGroup]="form">
          <span class="p-float-label">
            <p-radioButton inputId="type" [value]="1" formControlName="gender"></p-radioButton>
            <label class="titleRadio" for="type">Nam </label>
          </span>
        </div>
        <div class="p-field mt-2" [formGroup]="form">
          <span class="p-float-label">
            <p-radioButton inputId="type1" [value]="0" formControlName="gender"></p-radioButton>
            <label class="titleRadio" for="type1">Nữ</label>
          </span>
        </div>

      </span>

    </div>
  </div>

  <div class="col-12" [formGroup]="form">
    <h3 class="title-Or">Ảnh đại diện</h3>
    <div class="p-field">
      <span class="p-float-label">
        <p-fileUpload chooseLabel="Chọn ảnh" mode="advanced" [showUploadButton]="false" [maxFileSize]="10000000"
          [multiple]="false" accept="image/*">
          <ng-template pTemplate="content" *ngIf="hiddenImage">
            <p-image src="http://localhost:53421/Upload/Files/{{image}}" alt="Image" width="50px"></p-image>
          </ng-template>
        </p-fileUpload>

      </span>

    </div>
  </div>
  <div class="col-12" [formGroup]="form">
    <h3 class="title-Or">mô tả</h3>
    <div class="p-field">
      <span class="p-float-label">
        <p-editor formControlName="description" placeholder="Nhập mô tả" [style]="{'height':'300px'}"></p-editor>
      </span>
    </div>
  </div>
  <div class="col-3" [formGroup]="form">
    <div class="p-field-checkbox">
      <p-checkbox inputId="ny" formControlName="status" [binary]="true"> </p-checkbox>
      <label for="ny">Trạng thái</label>
    </div>
  </div>
</div>
<div class="p-dialog-footer p-p-0 mt-3">
  <button pButton *ngIf="screenType !== 2" (click)="save()" label="Lưu" icon="pi pi-check" class="mr-2"></button>
  <button pButton (click)="cancel()" label="Đóng" icon="pi pi-times" class="p-button-danger"></button>
</div>