<app-loading *ngIf="loading"></app-loading>
<div class="p-grid">
  <div class="p-col-12">
    <div class="card">
      <div class="p-grid p-fluid p-mt-2" [formGroup]="form">
        <div class="p-col-12 mt-4">
          <h3 class="title-Or">Thông tin cơ bản</h3>
        </div>
        <div class="p-grid">
          <div class="p-col-9">
            <div class="p-grid">
              <div class="p-col-4 p-md-4">
                <div class="p-field">
                  <span class="p-float-label">
                    <input type="text" formControlName="vnName" pInputText />
                    <label for="inputtext">Tên doanh nghiệp(VIE)<span style="color: red">*</span></label>
                  </span>
                  <f-errors [errors]="form.get('vnName')"></f-errors>
                </div>
              </div>
              <div class="p-col-4 p-md-4">
                <div class="p-field">
                  <span class="p-float-label">
                    <input type="text" formControlName="enName" pInputText />
                    <label for="inputtext">Tên doanh nghiệp(EN)<span style="color: red">*</span></label>
                  </span>
                  <f-errors [errors]="form.get('enName')"></f-errors>
                </div>
              </div>
              <div class="p-col-4 p-md-4">
                <div class="p-field">
                  <span class="p-float-label">
                    <input type="text" formControlName="code" pInputText />
                    <label for="inputtext">Mã số doanh nghiệp</label>
                  </span>
                </div>
              </div>
              <div class="p-col-4 p-md-4">
                <div class="p-field">
                  <span class="p-float-label">
                    <input type="text" formControlName="abbreviation" pInputText />
                    <label for="inputtext">Tên viết tắt<span style="color: red">*</span></label>
                  </span>
                  <f-errors [errors]="form.get('abbreviation')"></f-errors>
                </div>
              </div>
              <div class="p-col-4 p-md-4">
                <div class="p-field">
                  <span class="p-float-label">
                    <input type="text" pInputText formControlName="tax" />
                    <label for="inputtext">Mã số thuế<span style="color: red">*</span></label>
                  </span>
                  <f-errors [errors]="form.get('tax')"></f-errors>
                </div>
              </div>
              <div class="p-col-4 p-md-4">
                <div class="p-field">
                  <span class="p-float-label">
                    <input type="text" pInputText formControlName="businessProfession" />
                    <label for="inputtext">Ngành nghề kinh doanh</label>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="p-col-3">
            <div class="p-grid">
              <div class="p-col-12 p-md-2">
                <div class="p-field">
                  <span id="img" class="p-float-label">
                    <p-avatar image="./assets/images/avatar.svg" pBadge value="4" severity="danger" size="xlarge">
                    </p-avatar>
                  </span>
                </div>
              </div>
              <div class="p-col-12 p-md-1">
                <div class="p-field">
                  <label class="title1">Upload ảnh</label>
                  <span class="p-float-label">
                    <p-fileUpload
                      chooseLabel="Chọn file"
                      mode="basic"
                      name="demo[]"
                      url="./upload.php"
                      accept="image/*"
                    ></p-fileUpload>
                  </span>
                  <label class="title2"
                    >* Ảnh upload có dung lượng không quá 1Mb, chấp nhận các loại định dạng JPG, JPEG, PNG...</label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="p-col-12 mt-4">
          <h3 class="title-Or">Địa chỉ</h3>
        </div>
        <div class="p-col-12 p-md-6">
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" pInputText formControlName="address" />
              <label for="inputtext">Địa chỉ</label>
            </span>
          </div>
        </div>

        <div class="p-col-12 p-md-3">
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" pInputText />
              <label for="inputtext">Quy mô nhân sự</label>
            </span>
          </div>
        </div>
        <div class="p-col-12 p-md-3"></div>
        <div class="p-col-12 p-md-3">
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" pInputText formControlName="phone" />
              <label for="inputtext">Điện thoại</label>
            </span>
          </div>
        </div>

        <div class="p-col-12 p-md-3">
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" pInputText formControlName="email" />
              <label for="inputtext">Email</label>
            </span>
          </div>
        </div>
        <div class="p-col-12 p-md-3">
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" pInputText formControlName="website" />
              <label for="inputtext">Website</label>
            </span>
          </div>
        </div>
        <div class="p-col-12 p-md-3"></div>
        <div class="p-col-12 p-md-3">
          <div class="p-field">
            <span class="p-float-label">
              <p-calendar
                [readonlyInput]="true"
                formControlName="registrationDate"
                dateFormat="dd/mm/yy"
                [showIcon]="true"
                inputId="icon"
                appendTo="body"
              >
              </p-calendar>
              <label for="inputtext">Ngày sinh nhật</label>
            </span>
          </div>
        </div>

        <div class="p-col-12 p-md-3">
          <div class="p-field">
            <p-dropdown
              [options]="employees"
              placeholder="Người đại diện pháp luật"
              [filter]="true"
              filterBy="name"
              [showClear]="true"
              formControlName="legalRepresentativeCode"
              optionLabel="name"
              optionValue="code"
              [autoDisplayFirst]="false"
            >
            </p-dropdown>
          </div>
        </div>
        <div class="p-col-12 p-md-3">
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" pInputText />
              <label for="inputtext">Chức danh người đại diện pháp luật</label>
            </span>
          </div>
        </div>
        <div class="p-col-12 mt-4">
          <h3 class="title-Or">Giấy đăng ký kinh doanh</h3>
        </div>
        <div class="p-col-12 p-md-3">
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" pInputText formControlName="registrationNumber" />
              <label for="inputtext">Số giấy đăng ký kinh doanh</label>
            </span>
          </div>
        </div>

        <div class="p-col-12 p-md-3">
          <div class="p-field">
            <span class="p-float-label">
              <p-calendar
                [readonlyInput]="true"
                formControlName="foundDate"
                dateFormat="dd/mm/yy"
                [showIcon]="true"
                inputId="icon"
                appendTo="body"
              >
              </p-calendar>
              <label for="inputtext">Ngày cấp giấy đăng ký</label>
            </span>
          </div>
        </div>

        <div class="p-col-12 p-md-2 mt-1">
          <div class="p-field">
            <span class="p-float-label">
              <p-fileUpload chooseLabel="Chọn file" mode="basic" name="demo[]" url="./upload.php" accept="image/*">
              </p-fileUpload>
            </span>
          </div>
        </div>

        <div class="p-col-12 mt-4">
          <h3 class="title-Or">Sửa Đổi Giấy Đăng Ký Kinh Doanh</h3>
          <div class="p-col-9">
            <p-table #dt [value]="formBusinessRegistration.controls" responsiveLayout="scroll">
              <ng-template pTemplate="header">
                <tr>
                  <th style="width: 20%">Lần sửa đổi</th>
                  <th style="width: 30%">Ngày cấp giấy sửa đổi gần nhất</th>
                  <th style="width: 30%">File tải lên</th>
                  <th style="width: 20%" alignFrozen="right" pFrozenColumn>Action</th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-item let-i="rowIndex">
                <tr [formGroup]="item">
                  <td style="width: 20%">
                    <input type="text" pInputText formControlName="orderNum" />
                    <f-errors [errors]="item.get('orderNum')"></f-errors>
                  </td>
                  <td style="width: 30%">
                    <p-calendar
                      [readonlyInput]="true"
                      formControlName="registrationDate"
                      dateFormat="dd/mm/yy"
                      [showIcon]="true"
                      inputId="icon"
                      appendTo="body"
                    >
                    </p-calendar>
                    <f-errors [errors]="item.get('registrationDate')"></f-errors>
                  </td>
                  <td style="width: 30%">
                    <p-fileUpload chooseLabel="Chọn file" mode="basic" name="demo[]" url="./upload.php"> </p-fileUpload>
                  </td>
                  <td style="width: 20%" alignFrozen="right" pFrozenColumn>
                    <span class="pointer" (click)="deleteItem(i)">
                      <em class="las la-trash-alt"></em>
                    </span>
                  </td>
                </tr>
              </ng-template>
            </p-table>
            <br />
            <div class="p-mt-2">
              <button (click)="addNewFormBusinessRegistration()" pButton icon="pi pi-plus" class="p-mr-2"></button>
            </div>
          </div>
        </div>

        <div class="p-col-12 mt-4">
          <h3 class="title-Or">Thông Tin Ngân Hàng</h3>
        </div>
        <div class="p-col-12 p-md-3">
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" formControlName="bankName1" pInputText />
              <label for="inputtext">Ngân hàng</label>
            </span>
          </div>
        </div>
        <div class="p-col-12 p-md-3">
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" formControlName="bankAccount1" pInputText />
              <label for="inputtext">Số tài khoản</label>
            </span>
          </div>
        </div>
        <div class="p-col-12 p-md-3">
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" formControlName="bankOwner1" pInputText />
              <label for="inputtext">Tên tài khoản</label>
            </span>
          </div>
        </div>
        <div class="p-col-12 p-md-3"></div>
        <div class="p-col-12 p-md-3">
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" formControlName="bankName2" pInputText />
              <label for="inputtext">Ngân hàng</label>
            </span>
          </div>
        </div>
        <div class="p-col-12 p-md-3">
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" formControlName="bankAccount2" pInputText />
              <label for="inputtext">Số tài khoản</label>
            </span>
          </div>
        </div>
        <div class="p-col-12 p-md-3">
          <div class="p-field">
            <span class="p-float-label">
              <input type="text" formControlName="bankOwner2" pInputText />
              <label for="inputtext">Tên tài khoản</label>
            </span>
          </div>
        </div>
        <div class="p-col-12 mt-4">
          <h3 class="title-Or">Địa Điểm Làm Việc</h3>
        </div>
        <div class="p-col-12 mt-4">
          <p-table [value]="form.get('workLocationDTOS')?.value" responsiveLayout="scroll">
            <ng-template pTemplate="header">
              <tr>
                <th>Mã</th>
                <th>Tên tiếng việt</th>
                <th>Tên tiếng anh</th>
                <th>Địa chỉ</th>
                <th>Hoạt động từ ngày</th>
                <th>Là trụ sở chính</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
              <tr>
                <td>{{ item.code }}</td>
                <td>{{ item.vnName }}</td>
                <td>{{ item.enName }}</td>
                <td>{{ item.address }}</td>
                <td>{{ item.startDate | date: 'dd/MM/yy' }}</td>
                <td>
                  <p-checkbox
                    *ngIf="item.isHeadquarters"
                    [readonly]="true"
                    [(ngModel)]="item.isHeadquarters"
                    [ngModelOptions]="{ standalone: true }"
                    [binary]="true"
                  ></p-checkbox>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
        <div class="p-col-12 mt-4">
          <h3 class="title-Or">Ghi chú</h3>
        </div>
        <div class="p-col-12 p-md-12">
          <div class="p-field">
            <div class="p-float-label">
              <textarea id="float-input" rows="2" pInputTextarea></textarea>
              <label for="float-input">ghi chú</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-dialog-footer">
  <button pButton type="button" (click)="save()" label="Lưu"></button>
</div>
