<app-loading *ngIf="loading"></app-loading>
<div class="card">
  <div class="p-grid">
    <div class="p-md-3 p-lg-3">
      <span class="p-float-label">
        <input inputId="name" type="text" class="p-inputtext-sm" [(ngModel)]="params.searchAddress" pInputText />
        <label for="name">Mã học viên</label>
      </span>
    </div> 
    <div class="p-md-3 p-lg-3">
      <span class="p-float-label">
        <p-dropdown
          [options]="stateData!.listStatus"
          class="p-inputtext-sm"
          [(ngModel)]="params.status"
          optionLabel="name"
          optionValue="value"
          [autoDisplayFirst]="false"
        >
        </p-dropdown>
        <label for="icon">Trạng thái</label>
      </span>
    </div>
   
  </div>
  <p-toolbar styleClass="p-px-0 p-pt-0">
    <div class="p-toolbar-group-left">
      <div class="p-field">
        <button
          pButton
          (click)="search()"
          icon="pi pi-search"
          pRipple
          type="button"
          label="Tìm kiếm"
          class="p-button-success"
        ></button>
        <button 
          (click)="exportExcel()"
          pButton
          pRipple
          label="Export"
          icon="pi pi-download"
          class="p-button-help p-ml-2"
        ></button>
        <p-button (click)="onReset()" icon="pi pi-replay" class="p-ml-2" styleClass="p-button-danger"></p-button>
      </div>
    </div>
    <div class="p-toolbar-group-right">
      <button pButton (click)="viewCreate()" label="New" icon="pi pi-plus" class="p-mr-2"></button>
    </div>
  </p-toolbar>
  <p-table [value]="dataTable.content" responsiveLayout="scroll">
    <ng-template pTemplate="header">
      <tr>
        <th>STT</th>
        <th>Logo</th>
        <th>Đia chỉ</th>
        <th>Điện thoại</th>
        <th>Hotline 1</th>
        <th>Hotline 2</th>
        <th>Thông tin</th>
       
       
        <th>Trạng thái</th>
        <th style="width: 100px" alignFrozen="right" pFrozenColumn>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item let-i="rowIndex">
      <tr>
        <td>{{ i + 1 }}</td>
        <td>
            <p-image src="http://localhost:53421/Upload/Files/{{item.image}}" alt="Image" width="50px"></p-image>
          </td>
        <td>{{item.address}}</td>
        <td>{{ item.phone }}</td>
        <td>{{ item.hotline1 }}</td>
       
        <td>{{item.hotline2}}</td>
        <td>{{item.information}}</td>
     
        <td>
          <p-inputSwitch [readonly]="true" [(ngModel)]="item.status"></p-inputSwitch>
        </td>
        <td style="width: 100px" alignFrozen="right" pFrozenColumn>
          <span class="pointer p-mr-2" (click)="viewDetail(item.systemId)">
            <em class="las la-eye"></em>
          </span>
          <span class="pointer p-mr-2" (click)="viewEdit(item.systemId)">
            <em class="las la-pen"></em>
          </span>
          <span class="pointer" (click)="deleteItem(item.systemId)">
            <em class="las la-trash-alt"></em>
          </span>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <p-paginator
    [showCurrentPageReport]="true"
    [rows]="dataTable!.size"
    [totalRecords]="dataTable!.totalElements"
    [rowsPerPageOptions]="[10, 20, 30]"
    (onPageChange)="pageChange($event)"
  ></p-paginator>
</div>
