<div class="p-dialog-header p-px-0">
  <span class="p-dialog-title">{{ title }}</span>
  <div class="p-dialog-header-icons">
    <button type="button" class="p-dialog-header-icon p-dialog-header-maximize p-link" (click)="cancel()">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="p-mt-2 p-dialog-body p-grid p-fluid">
  <h3 class="title p-col-12">Thông tin vị trí</h3>
  <div class="p-col-3 p-md-3">
    <div class="p-field">
      <span class="p-float-label">
        <input type="text" readonly class="p-inputtext-sm" pInputText [(ngModel)]="data?.jobDTO.code" />
        <label for="inputtext">Mã vị trí</label>
      </span>
    </div>
  </div>
  <div class="p-col-3 p-md-3">
    <div class="p-field">
      <span class="p-float-label">
        <input type="text" readonly class="p-inputtext-sm" pInputText [(ngModel)]="data?.jobDTO.abbreviations" />
        <label for="inputtext">Tên viết tắt</label>
      </span>
    </div>
  </div>
  <div class="p-col-3 p-md-3">
    <div class="p-field">
      <span class="p-float-label">
        <input
          type="text"
          readonly
          class="p-inputtext-sm"
          pInputText
          pInputText
          [(ngModel)]="data?.jobDTO.englishName"
        />
        <label for="inputtext">Tên tiếng Anh</label>
      </span>
    </div>
  </div>
  <div class="p-col-3 p-md-3">
    <div class="p-field">
      <span class="p-float-label">
        <input type="text" readonly class="p-inputtext-sm" pInputText [(ngModel)]="data?.jobDTO.vietnameseName" />
        <label for="inputtext">Tên tiếng Việt</label>
      </span>
    </div>
  </div>
  <div class="p-col-3 p-md-3">
    <div class="p-field">
      <span class="p-float-label">
        <input type="text" readonly class="p-inputtext-sm" pInputText [(ngModel)]="data?.jobDTO.organizationCode" />
        <label for="inputtext">Mã mô hình</label>
      </span>
    </div>
  </div>
  <div class="p-col-3 p-md-3">
    <div class="p-field">
      <span class="p-float-label">
        <input
          type="text"
          class="p-inputtext-sm"
          pInputText
          [(ngModel)]="data?.jobDTO.organizationStructureVersionCode"
        />
        <label for="inputtext">Phiên bản mô hình</label>
      </span>
    </div>
  </div>
  <div class="p-col-3 p-md-3">
    <div class="p-field-checkbox">
      <p-checkbox name="group1" [readonly]="true" [binary]="true" [(ngModel)]="data?.jobDTO.hasUnit" inputId="ny">
      </p-checkbox>
      <label for="ny">Là chi nhánh</label>
    </div>
  </div>
  <div class="p-col-3 p-md-3">
    <div class="p-field">
      <span class="p-float-label">
        <input type="text" readonly class="p-inputtext-sm" pInputText [(ngModel)]="data?.jobDTO.unitCode" />
        <label for="inputtext">Mã đơn vị (ĐVQL - ĐVTT)</label>
      </span>
    </div>
  </div>
  <div class="p-col-12 p-md-12" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input type="text" class="p-inputtext-sm" pInputText formControlName="descriptionVersion" />
        <label for="inputtext"> Phiên bản mô tả</label>
      </span>
      <f-errors [errors]="form.get('descriptionVersion')"></f-errors>
    </div>
  </div>
  <div class="p-col-3 p-md-3" [formGroup]="form">
    <div class="p-field">
      <p-dropdown
        [options]="state!.listDirectlyReport"
        class="p-inputtext-sm"
        formControlName="directlyReport"
        optionLabel="name"
        optionValue="value"
        placeholder="Báo cáo trực tiếp"
        optionLabel="name"
      >
      </p-dropdown>
      <f-errors [errors]="form.get('directlyReport')"></f-errors>
    </div>
  </div>
  <div class="p-col-3 p-md-3" [formGroup]="form">
    <div class="p-field">
      <p-dropdown
        [options]="state!.listDirectlyReport"
        class="p-inputtext-sm"
        formControlName="indirectReport"
        optionLabel="name"
        optionValue="value"
        placeholder="Nhận báo cáo trực tiếp"
        optionLabel="name"
      >
      </p-dropdown>
      <f-errors [errors]="form.get('indirectReport')"></f-errors>
    </div>
  </div>
  <div class="p-col-3 p-md-3" [formGroup]="form">
    <div class="p-field">
      <p-dropdown
        [options]="state!.listDirectlyReport"
        class="p-inputtext-sm"
        formControlName="rdReport"
        optionLabel="name"
        optionValue="value"
        placeholder="Báo cáo gián tiếp"
        optionLabel="name"
      >
      </p-dropdown>
      <f-errors [errors]="form.get('rdReport')"></f-errors>
    </div>
  </div>
  <div class="p-col-3 p-md-3" [formGroup]="form">
    <div class="p-field">
      <p-dropdown
        [options]="state!.listDirectlyReport"
        placeholder="Nhận báo cáo gián tiếp"
        class="p-inputtext-sm"
        appendTo="body"
        formControlName="riReport"
        optionLabel="name"
        optionValue="value"
      >
      </p-dropdown>
      <f-errors [errors]="form.get('riReport')"></f-errors>
    </div>
  </div>
  <div class="p-col-3 p-md-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input type="text" class="p-inputtext-sm" pInputText formControlName="function" />
        <label for="inputtext">Chức năng</label>
      </span>
      <f-errors [errors]="form.get('function')"></f-errors>
    </div>
  </div>
  <div class="p-col-3 p-md-3" [formGroup]="form">
    <div class="p-field">
      <p-dropdown
        [options]="state!.listPermission"
        class="p-inputtext-sm"
        formControlName="power"
        optionLabel="name"
        optionValue="value"
        placeholder="Quyền hạn"
        optionLabel="name"
      >
      </p-dropdown>
      <f-errors [errors]="form.get('power')"></f-errors>
    </div>
  </div>
  <div class="p-col-6 p-md-6" [formGroup]="form"></div>
  <h3 class="title p-col-12">Trách nhiệm</h3>
  <div class="p-col-12">
    <p-table #dt [value]="formListResponsibility.controls" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">STT</th>
          <th style="width: 40%">Công việc và tần suất *</th>
          <th style="width: 40%">Kết quả đầu ra *</th>
          <th *ngIf="screenType !== 2" style="width: 100px" alignFrozen="right" pFrozenColumn>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr [formGroup]="item">
          <td style="width: 10%">
            {{ i + 1 }}
          </td>
          <td style="width: 40%">
            <input type="text" pInputText formControlName="waFrequency" />
            <f-errors [errors]="item.get('waFrequency')"></f-errors>
          </td>
          <td style="width: 40%">
            <input type="text" pInputText formControlName="outputResult" />
            <f-errors [errors]="item.get('outputResult')"></f-errors>
          </td>
          <td *ngIf="screenType !== 2" style="width: 100px" alignFrozen="right" pFrozenColumn>
            <span class="pointer" (click)="deleteItemResponsibility(i)">
              <em class="las la-trash-alt"></em>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br />
    <div *ngIf="screenType !== 2" class="p-mt-2">
      <button (click)="addNewFormResponsibility()" pButton icon="pi pi-plus" class="p-mr-2"></button>
    </div>
  </div>
  <h3 class="title p-col-12">Yêu cầu</h3>
  <div class="p-col-4 p-md-4fa-pull-left" [formGroup]="form">
    <div class="p-grid p-fluid">
      <div class="p-field p-col-6 p-md-6">
        <span class="p-float-label">
          <input type="text" class="p-inputtext-sm" pInputText formControlName="age" />
          <label for="inputtext">Tuổi</label>
        </span>
        <f-errors [errors]="form.get('age')"></f-errors>
      </div>
      <div class="p-field p-col-6 p-md-6">
        <span class="p-float-label">
          <input type="text" class="p-inputtext-sm" pInputText formControlName="experience" />
          <label for="inputtext">Năm kinh nghiệm tối thiểu</label>
        </span>
        <f-errors [errors]="form.get('experience')"></f-errors>
      </div>
    </div>
  </div>
  <div class="p-col-5 p-md-5" [formGroup]="form">
    <div class="p-field">
      <p-multiSelect
        [options]="state!.listMajor"
        class="p-inputtext-sm"
        appendTo="body"
        formControlName="majorDTOS"
        defaultLabel="Chuyên ngành tốt nghiệp"
        optionValue="code"
        optionLabel="name"
        display="chip"
      ></p-multiSelect>
      <f-errors [errors]="form.get('majorDTOS')"></f-errors>
    </div>
  </div>
  <div class="p-col-3 p-md-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <p-dropdown
          [options]="state!.listPermission"
          class="p-inputtext-sm"
          formControlName="educationLevel"
          optionLabel="name"
          optionValue="value"
          placeholder="Trình độ"
          optionLabel="name"
        >
        </p-dropdown>
      </span>
      <f-errors [errors]="form.get('educationLevel')"></f-errors>
    </div>
  </div>
  <h3 class="title p-col-4">Năng lực yêu cầu</h3>
  <div class="p-col-12">
    <p-table [value]="formListCapacityGroup.controls" responsiveLayout="scroll">
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 10%">STT</th>
          <th style="width: 20%">Nhóm năng lực</th>
          <th style="width: 20%">Tên năng lực</th>
          <th style="width: 20%">Cấp độ yêu cầu</th>
          <th style="width: 20%">Mô tả cấp độ</th>
          <th *ngIf="screenType !== 2" style="width: 100px" alignFrozen="right" pFrozenColumn>Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-i="rowIndex">
        <tr [formGroup]="item">
          <td style="width: 10%">
            {{ i + 1 }}
          </td>
          <td style="width: 20%">
            <p-dropdown
              [options]="state!.listCapacityGroup"
              appendTo="body"
              (onChange)="onChangeDropdown($event, 'capacityGroupCode', i)"
              formControlName="capacityGroupCode"
              optionLabel="name"
              optionValue="code"
              placeholder="Nhóm năng lực"
            >
            </p-dropdown>
          </td>
          <td style="width: 20%">
            <p-dropdown
              [options]="this.listCapacityGroup[i].listAbilities"
              appendTo="body"
              (onChange)="onChangeDropdown($event, 'abilityCode', i)"
              formControlName="abilityCode"
              optionLabel="name"
              optionValue="code"
              placeholder="Tên năng lực"
            >
            </p-dropdown>
            <f-errors [errors]="item.get('abilityCode')"></f-errors>
          </td>
          <td style="width: 20%">
            <p-dropdown
              [options]="this.listCapacityGroup[i].listLevel"
              appendTo="body"
              (onChange)="onChangeDropdown($event, 'levelCode', i)"
              formControlName="levelCode"
              optionLabel="name"
              optionValue="code"
              placeholder="Tên năng lực"
            >
            </p-dropdown>
            <f-errors [errors]="item.get('levelCode')"></f-errors>
          </td>
          <td style="width: 20%">
            <input
              type="text"
              pInputText
              [value]="listCapacityGroup[i].description"
              readonly
              formControlName="description"
            />
            <f-errors [errors]="item.get('description')"></f-errors>
          </td>
          <td *ngIf="screenType !== 2" style="width: 100px" alignFrozen="right" pFrozenColumn>
            <span class="pointer" (click)="deleteItemCapacityGroup(i)">
              <em class="las la-trash-alt"></em>
            </span>
          </td>
        </tr>
      </ng-template>
    </p-table>
    <br />
    <div *ngIf="screenType !== 2" class="p-mt-2">
      <button pButton icon="pi pi-plus" (click)="addNewFormCapacityGroup()" class="p-mr-2"></button>
    </div>
  </div>
  <h3 class="title p-col-4">Đính kèm</h3>
  <div class="p-col-12">
    <p-fileUpload
      name="demo[]"
      [multiple]="true"
      [showUploadButton]="false"
      [showCancelButton]="false"
      [maxFileSize]="1000000"
    >
      <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
          <li *ngFor="let file of uploadedFiles">{{ file.name }} - {{ file.size }} bytes</li>
        </ul>
      </ng-template>
    </p-fileUpload>
  </div>
  <h3 class="title p-col-12">Thông tin khác</h3>
  <div class="p-col-12 p-md-12" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <textarea id="float-input" rows="3" formControlName="note" pInputTextarea></textarea>
        <label for="float-input">Ghi chú</label>
      </span>
    </div>
  </div>
  <div class="p-col-3 p-md-3" [formGroup]="form">
    <div class="p-field">
      <p-dropdown
        [options]="state!.listStatus"
        class="p-inputtext-sm"
        formControlName="status"
        optionLabel="name"
        optionValue="value"
        placeholder="Trạng thái"
        optionLabel="name"
      >
      </p-dropdown>
      <f-errors [errors]="form.get('status')"></f-errors>
    </div>
  </div>
  <div class="p-col-3 p-md-3" [formGroup]="form">
    <div class="p-field">
      <p-calendar
        appendTo="body"
        [readonlyInput]="true"
        placeholder="Ngày bắt đầu"
        dateFormat="dd/mm/yy"
        formControlName="startDate"
        [showIcon]="true"
        inputId="icon"
      >
      </p-calendar>
      <f-errors [errors]="form.get('startDate')"></f-errors>
    </div>
  </div>
  <div class="p-col-3 p-md-3" [formGroup]="form">
    <div class="p-field">
      <p-calendar
        appendTo="body"
        [readonlyInput]="true"
        placeholder="Ngày bắt đầu"
        dateFormat="dd/mm/yy"
        formControlName="endDate"
        [showIcon]="true"
        inputId="icon"
      >
      </p-calendar>
      <f-errors [errors]="form.get('endDate')"></f-errors>
    </div>
  </div>
</div>
<div class="p-dialog-footer p-p-0 p-mt-3">
  <button pButton *ngIf="screenType !== 2" (click)="save()" label="Lưu" icon="pi pi-check" class="p-mr-2"></button>
  <button pButton (click)="cancel()" label="Đóng" icon="pi pi-times" class="p-button-danger"></button>
</div>
