<div class="p-dialog-header">
  <span class="p-dialog-title">THAY ĐỔI TRẠNG THÁI</span>
  <div class="p-dialog-header-icons">
    <button type="button" class="p-dialog-header-icon p-dialog-header-maximize p-link" (click)="cancel()">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="mt-2 p-dialog-body grid p-fluid">
  <div class="col-6" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input type="tex" class="p-inputtext-sm" [readonly]="true" pInputText formControlName="studentName" />
        <label for="inputtext">Họ và tên *</label>
      </span>
    </div>
  </div>
  <div class="col-6" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <p-dropdown
          class="p-inputtext-sm"
          [options]="state?.listStatus"
          placeholder="Chọn trạng thái"
          formControlName="status"
          optionLabel="name"
          optionValue="value"
          [autoZIndex]="true"
          [autoDisplayFirst]="false"
          appendTo="body"
          [baseZIndex]="10000"
        >
        </p-dropdown>
        <label for="inputtext">Trạng thái *</label>
      </span>
      <f-errors [errors]="form.get('status')"></f-errors>
    </div>
  </div>
</div>
<div class="p-dialog-footer p-0 mt-3">
  <button pButton (click)="save()" label="Lưu" icon="pi pi-check" class="mr-2"></button>
  <button pButton (click)="cancel()" label="Đóng" icon="pi pi-times" class="p-button-danger"></button>
</div>
