<div class="p-dialog-header">
  <span class="p-dialog-title">{{ title }}</span>
  <div class="p-dialog-header-icons">
    <button type="button" class="p-dialog-header-icon p-dialog-header-maximize p-link" (click)="cancel()">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="p-mt-2 p-dialog-body p-grid p-fluid">

  <div class="p-col-3 p-md-4" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input type="tex" class="p-inputtext-sm" pInputText formControlName="newCategoryCode" />
        <label for="inputtext">Mã loại tin tức mới*</label>
      </span>
      <f-errors [errors]="form.get('newCategoryCode')"></f-errors>
    </div>
  </div>
  <div class="p-col-3 p-md-4" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input p-dialog-body type="text" formControlName="newCategoryName" class="p-inputtext-sm"  pInputText />
        <label for="inputtext">Tên loại tin tức mới*</label>
      </span>
      <f-errors [errors]="form.get('newCategoryName')"></f-errors>

    </div>
  </div>

  <div class="p-col-3 p-md-4" [formGroup]="form">
    <div class="p-field-checkbox" >
      <p-checkbox name="group1" formControlName="status" [binary]="true" inputId="ny"> </p-checkbox>
      <label for="ny">Trạng thái</label>
    </div>
  </div>
</div>
<div class="p-dialog-footer p-p-0 p-mt-3">
  <button pButton *ngIf="screenType !== 2" (click)="save()" label="Lưu" icon="pi pi-check" class="p-mr-2"></button>
  <button pButton (click)="cancel()" label="Đóng" icon="pi pi-times" class="p-button-danger"></button>
</div>