<div class="p-dialog-header">
  <span class="p-dialog-title">{{ title }}</span>
  <div class="p-dialog-header-icons">
    <button type="button" class="p-dialog-header-icon p-dialog-header-maximize p-link" (click)="cancel()">
      <span class="p-dialog-header-close-icon pi pi-times"></span>
    </button>
  </div>
</div>
<div class="mt-2 p-dialog-body grid p-fluid">
  <div class="col-12">
    <h5 class="title">Thông tin chung</h5>
  </div>
  <div class="col-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input type="tex" class="p-inputtext-sm" pInputText formControlName="code" />
        <label for="inputtext">Mã khóa học*</label>
      </span>
      <f-errors [errors]="form.get('code')"></f-errors>
    </div>
  </div>

  <div class="col-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input p-dialog-body type="text" formControlName="courseName" class="p-inputtext-sm" pInputText />
        <label for="inputtext">Tên khóa học *</label>
      </span>
      <f-errors [errors]="form.get('courseName')"></f-errors>
    </div>
  </div>
  <div class="col-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input p-dialog-body type="text" formControlName="englishName" class="p-inputtext-sm" pInputText />
        <label for="inputtext">Tên tiếng anh *</label>
      </span>
      <f-errors [errors]="form.get('englishName')"></f-errors>
    </div>
  </div>
  <div class="col-3" [formGroup]="form">
    <span class="p-float-label">
      <p-dropdown
        class="p-inputtext-sm"
        [options]="state?.listCourseCategory"
        formControlName="courseCategoryId"
        optionLabel="courseCategoryName"
        optionValue="courseCategoryId"
        [autoDisplayFirst]="false"
      >
      </p-dropdown>
      <label for="icon">Loại danh mục</label>
    </span>
    <f-errors [errors]="form.get('courseCategoryId')"></f-errors>
  </div>

  <div class="col-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <p-dropdown
          class="p-inputtext-sm"
          [options]="state?.listTeacher"
          formControlName="teacherId"
          optionLabel="teacherName"
          optionValue="teacherId"
          [autoDisplayFirst]="false"
        >
        </p-dropdown>
        <label for="inputtext">Tên giáo viên *</label>
      </span>
      <f-errors></f-errors>
    </div>
  </div>
  <div class="col-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input p-dialog-body type="text" formControlName="price" class="p-inputtext-sm" pInputText />
        <label for="inputtext">Đơn giá *</label>
      </span>
      <f-errors [errors]="form.get('price')"></f-errors>
    </div>
  </div>
  <div class="col-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <input class="p-inputtext-sm" pInputText formControlName="countLesson" />
        <label for="inputtext">Số lượng bài học *</label>
      </span>
      <f-errors [errors]="form.get('countLesson')"></f-errors>
    </div>
  </div>
  <div class="col-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <p-calendar
          class="p-inputtext-sm"
          [showIcon]="true"
          appendTo="body"
          (ngModelChange)="changStartDate($event)"
          [readonlyInput]="true"
          dateFormat="dd/mm/yy"
          formControlName="startDate"
        >
        </p-calendar>
        <label for="inputtext">Ngày bắt đầu *</label>
      </span>
      <f-errors [errors]="form.get('startDate')"></f-errors>
    </div>
  </div>
  <div class="col-3" [formGroup]="form">
    <div class="p-field">
      <span class="p-float-label">
        <p-calendar
          class="p-inputtext-sm"
          appendTo="body"
          [minDate]="maxDate"
          [disabled]="check"
          [showIcon]="true"
          [readonlyInput]="true"
          dateFormat="dd/mm/yy"
          formControlName="endDate"
        >
        </p-calendar>

        <label for="inputtext">Ngày kết thúc *</label>
      </span>
      <f-errors [errors]="form.get('endDate')"></f-errors>
    </div>
  </div>
  <div class="col-12" [formGroup]="form">
    <h5 class="title">Tiêu đề</h5>
    <div class="p-field">
      <span class="p-float-label">
        <textarea
          [rows]="3"
          [cols]="30"
          formControlName="title"
          placeholder="Nhập tiêu đề"
          pInputTextarea
          [autoResize]="true"
        ></textarea>
      </span>
      <f-errors [errors]="form.get('title')"></f-errors>
    </div>
  </div>

  <div class="col-12" [formGroup]="form">
    <h5 class="title">Hình ảnh</h5>
    <div class="p-field">
      <span class="p-float-label">
        <p-fileUpload
          chooseLabel="Chọn file"
          (onSelect)="uploadHandler($event)"
          mode="advanced"
          [showUploadButton]="false"
          [maxFileSize]="1000000"
          [multiple]="false"
          accept="image/*"
          [previewWidth]="40"
          [auto]="true"
        >
          <ng-template pTemplate="content" *ngIf="hiddenImage">
            <p-image src="http://localhost:53421/Upload/Files/{{ image }}" alt="Image" width="50px"></p-image>
          </ng-template>
        </p-fileUpload>
      </span>
    </div>
  </div>
  <div class="col-12" [formGroup]="form">
    <h5 class="title">Mô tả</h5>
    <div class="p-field">
      <span class="p-float-label">
        <p-editor formControlName="description" placeholder="Nhập mô tả" [style]="{ height: '300px' }"></p-editor>
      </span>
    </div>
  </div>

  <div class="col-12" [formGroup]="form">
    <h5 class="title">Mục tiêu khóa học</h5>
    <div class="p-field">
      <span class="p-float-label">
        <p-editor formControlName="note" placeholder="Nhập mô tả" [style]="{ height: '300px' }"></p-editor>
      </span>
    </div>
  </div>
  <div class="col-3" [formGroup]="form">
    <div class="p-field-checkbox">
      <p-checkbox name="group1" formControlName="status" [binary]="true"> </p-checkbox>
      <label for="ny">Trạng thái</label>
    </div>
  </div>
</div>
<div class="p-dialog-footer p-p-0 p-mt-3">
  <button pButton *ngIf="screenType !== 2" (click)="save()" label="Lưu" icon="pi pi-check" class="mr-2"></button>
  <button pButton (click)="cancel()" label="Đóng" icon="pi pi-times" class="p-button-danger"></button>
</div>
